<div class="container" ng-controller="funcionarioCtrl">
    @* INÍCIO DIV - panel panel-info *@
    <div class="panel panel-info">
        <div class="panel-heading">Listar Funcionários</div>

        <div class="panel-body">
            <button type="button" class="btn btn-info" data-target="#AdicionarFuncionario" data-toggle="modal">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>

        <table class="table table-bordered">
            <thead style="background-color: grey;">
                <tr>
                    <th class="text-center">Id Funcionário</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Departamento</th>
                    <th class="text-center">Cargo</th>
                    <th class="text-center">Ação</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="func in Funcionarios">
                    <td class="text-center">{{func.FuncionarioId}}</td>
                    <td class="text-center">{{func.Nome}}</td>
                    <td class="text-center">{{func.Email}}</td>
                    <td class="text-center">{{func.Departamento}}</td>
                    <td class="text-center">{{func.Cargo}}</td>
                    <td class="text-center" style="width: 200px;">
                        <a href="#"
                           data-target="#AtualizarFuncionario"
                           data-toggle="modal" class="btn btn-success"
                           ng-click="atualizarFuncionarioPorId(func)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="#"
                           data-target="#ExcluirFuncionario"
                           id="btnExcluir"
                           data-toggle="modal" class="btn btn-danger"
                           ng-click="excluirFuncionarioPorId(func)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        @* INÍCIO MODAL - ADICIONAR FUNCIONÁRIO *@
        <div class="modal" id="AdicionarFuncionario" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info">Adicionar Funcionário</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="AdicionarNovoFuncionarioForm">
                            <div class="form-group">
                                <input class="form-control" readonly="readonly" name="funcionarioId" type="hidden" placeholder="Id Funcionário" />
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" ng-model="nome" placeholder="Nome Funcionário" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" ng-model="email" placeholder="E-mail" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" ng-model="departamento" placeholder="Departamento" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" ng-model="cargo" placeholder="Cargo" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnSalvar" data-dismiss="modal" ng-click="adicionarFuncionario()">Adicionar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="limparDados()">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        @* FIM MODAL - ADICIONAR FUNCIONÁRIO *@

        @* INÍCIO MODAL - ATUALIZAR FUNCIONÁRIO *@
        <div class="modal" id="AtualizarFuncionario" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info">Atualizar Funcionário</h3>
                    </div>
                    <div class="modal-body" style="margin-left: 20px">
                        <form class="form-horizontal" name="AtualizarForm">
                            <div class="form-group">
                                <input class="form-control" readonly="readonly" name="FuncionarioId" ng-model="AtualizadoFuncionarioId" type="hidden" placeholder="Funcionario Id" />
                            </div>
                            <div class="form-group">
                                <label class="text-info"> Nome</label>
                                <input class="form-control" name="Nome" ng-model="AtualizadoNome" type="text" placeholder="Nome" />
                            </div>
                            <div class="form-group">
                                <label class="text-info"> Email</label>
                                <input class="form-control" name="Email" ng-model="AtualizadoEmail" type="email" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <label class="text-info"> Departamento</label>
                                <input class="form-control" name="Departamento" ng-model="AtualizadoDepartamento" type="text" placeholder="Departamento" />
                            </div>
                            <div class="form-group">
                                <label class="text-info"> Cargo</label>
                                <input class="form-control" name="Cargo" ng-model="AtualizadoCargo" type="text" placeholder="Cargo" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnUpdate" data-dismiss="modal" ng-click="atualizarFuncionario()">
                            Atualizar
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        @* FIM MODAL - ATUALIZAR FUNCIONÁRIO *@

        @* INÍCIO MODAL - EXCLUIR FUNCIONÁRIO *@

        <div class="modal" role="dialog" id="ExcluirFuncionario">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info">Você tem certeza que deseja excluir o Funcionário?</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p>Id do Funcionário : {{AtualizadoFuncionarioId}}</p>
                            <p>Nome do Fucionário : {{AtualizadoNome}}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="excluirFuncionario(AtualizadoFuncionarioId)">Excluir</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        @* FIM MODAL - EXCLUIR FUNCIONÁRIO *@

    </div>
    @* FIM DIV - panel panel-info *@

</div>

@section scripts {
    <script src="~/AngularJsApp/Funcionario/Module.js"></script>
    <script src="~/AngularJsApp/Funcionario/Service.js"></script>
    <script src="~/AngularJsApp/Funcionario/Controller.js"></script>
}